<p> 
<%= link_to "摊位",traders_path %>
</p>
<p> 
<%= link_to "分组",groups_path %>
</p>
<p> 
<%= link_to "商品",commodities_path %>
</p>
<p> 
<%= link_to "图片",pictures_path %>
</p>
<p> 
<%= link_to "定位",locations_path %>
</p>
<p> 
<%= link_to "联系方式",contacts_path %>
</p>
<p> 
<%= link_to "帐目",dashboard_bills_path %>
</p>
