<% if @user %>
  <li>
    <%= link_to @user, edit_user_registration_url(subdomain: ENV['USER_SUBDOMAIN']) %>
  </li>
  <li>
    <%= link_to @user.got_chat_messages.nav.count, got_chat_messages_url(subdomain: ENV['USER_SUBDOMAIN']), title:'未读消息', id: 'unread_messages_count' %>
  </li>
  <li>
    <%= link_to '退出', destroy_user_session_url(subdomain: ENV['USER_SUBDOMAIN']), :method=>'delete' %>
  </li>
  <% if @user.has_role?(:trader) and request.subdomains.first != "trader" %>
    <li>
      <%= link_to '切换到商家中心', trader_home_url(subdomain: ENV['TRADER_SUBDOMAIN']) %>
    </li>
  <% end %>
<% else %>
  <li>
    <%= link_to '登录', new_user_session_url(subdomain: ENV['USER_SUBDOMAIN']) %>
  </li>
  <li>
    <%= link_to '注册', new_user_registration_url(subdomain: ENV['USER_SUBDOMAIN']) %>
  </li>
<% end %>

