<li class="<%= 'active' if @controller_name == 'bills' and @action_name == 'dashboard' %>"> 
  <%= link_to dashboard_bills_path do %>
    商家中心
  <% end -%>
</li>
<li class="<%= 'active' if @controller_name == 'bills' and @action_name != 'dashboard' %>"> 
  <%= link_to bills_path do %>
    帐目
  <% end -%>
</li>
<li class="<%= 'active' if @controller_name == 'traders' %>"> 
  <%= link_to traders_path do %>
    摊位
  <% end -%>
</li>
<li class="<%= 'active' if @controller_name == 'groups' %>"> 
  <%= link_to groups_path do %>
    分组
  <% end -%>
</li>
<li class="<%= 'active' if @controller_name == 'commodities' %>"> 
  <%= link_to commodities_path do %>
    商品
  <% end -%>
</li>
<li class="<%= 'active' if @controller_name == 'pictures' %>"> 
  <%= link_to pictures_path do %>
    图片
  <% end -%>
</li>
<li class="<%= 'active' if @controller_name == 'locations' %>"> 
  <%= link_to locations_path do %>
    定位
  <% end -%>
</li>
<li class="<%= 'active' if @controller_name == 'contacts' %>"> 
  <%= link_to contacts_path do %>
    联系方式
  <% end -%>
</li>
