<h1>商家摊位列表</h1>

<% @traders.each do |trader| %>
  <% @commodities = trader.commodities.limit(13) %>
  <div class="trader">
    <div class="title">
      <h3><%= link_to trader.name, trader %></h3>
    </div>
    <% if @commodities.any? %>
      <ul class="thumbs inline">
        <% @commodities.each do |commodity| %>
          <li class="pull-left">
            <%= link_to commodity do %>
              <%= image_tag commodity.picture.image.thumb %>
            <% end -%>
          </li>
        <% end -%>
        <% if @commodities.count > 13 %>
          <li class="pull-left">
            <%= link_to trader do %>
              <%= image_tag 'view_more.jpg' %>
            <% end -%>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
    <% else %>
      <p> 暂无商品 </p>
    <% end -%>
  </div>
<% end -%>
<div class="clearfix"></div>
<div class="pull-right">
  <%= paginate @traders %>
</div>
<div class="clearfix"></div>
