<%= simple_form_for(@bill) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @bill.price.blank? and @bill.commodity.try(:price) %>
      <%= f.input :price, input_html: {value: @bill.commodity.price} %>
    <% else %>
      <%= f.input :price %>
    <% end %>
    <%= f.input :quantity, hint: "总共有#{@bill.commodity.reserve}存货" %>
    <%= f.input :total %>
    <%= f.input :plus %>
    <%= f.input :commodity_id, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<script type="text/javascript">
  var dom_price, dom_quantity, dom_total;
  function get_values(){
    dom_price = $('#bill_price');
    dom_quantity = $('#bill_quantity');
    dom_total = $('#bill_total');
  }
  get_values();
  if(dom_total.val() == ''){
    dom_total.val(Number(dom_price.val())* Number(dom_quantity.val()));
  }

  dom_price.blur(function(){
    get_values();
    if(dom_quantity.val() != ''){
      dom_total.val(Number(dom_price.val())* Number(dom_quantity.val()));
    }
    else if(dom_total.val() != ''){
      dom_quantity.val(parseInt((Number(dom_total.val()) / Number(dom_quantity.val()))));
    }
  });

  dom_quantity.blur(function(){
    get_values();
    if(dom_price.val() != ''){
      dom_total.val(Number(dom_price.val())* Number(dom_quantity.val()));
    }else if(dom_total.val() != ''){
      dom_price.val(Number(dom_total.val()) / Number(dom_quantity.val()));
    }
  });

  dom_total.blur(function(){
    get_values();
    if(dom_price.val() != ''){
      dom_quantity.val(parseInt(Number(dom_total.val())/ Number(dom_quantity.val())));
    }
    else if(dom_quantity.val() != ''){
      dom_price.val(parseInt((Number(dom_total.val()) / Number(dom_quantity.val()))));
    }
  });
</script>
