<div class="row-fluid">
  <div class="span7">
    <div class="border-form-div" style="border:none">
    <h2>注册</h2>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
      <%= f.error_notification %>
      <%= display_base_errors resource %>
      <%= f.input :name, :autofocus => true %>
      <% if @user.password_required? %>
        <%= f.input :password, :required => true %>
        <%= f.input :password_confirmation, :required => true %>
      <% end -%>
      <%= f.input :email %>
      <%= f.input :phone, hint: '邮箱和电话至少要填写一项' %>
      <%= f.input :is_trader,as: :boolean %>
      <div id="sign_up_trader">
        <%= f.fields_for :trader do |ft| %>
          <%= render "trader/traders/fields_for",f: ft, trader: resource.trader %>
        <% end -%>
      </div>
      <%= f.button :submit, '注册', :class => 'btn-primary' %>
    <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="span5 reg_right">
    快速注册：
    <span id="login"></span>
  </div>
</div>
<script>
  $('#user_is_trader').click(function(){
    show_trader_form();
  })
show_trader_form();
</script>
<script type="text/javascript" id="bd_soc_login_boot"></script>
<script type="text/javascript">
  (function(){
    var t = new Date().getTime(),
    script = document.getElementById("bd_soc_login_boot"),
    redirect_uri = encodeURIComponent("http://dev.liuzhouyeshi.com/users/auth/baidu/callback"),
    domid = "login",
    src = "http://openapi.baidu.com/social/oauth/2.0/connect/login?redirect_uri=" + redirect_uri + "&domid=" + domid + "&client_type=web&response_type=code&media_types=sinaweibo%2Cqqdenglu%2Cbaidu%2Cqqweibo%2Ckaixin&size=-1&button_type=1&client_id=EYlg2YCjG71PgrfKwuxf5kMS&view=embedded&t=" + t;
  script.src = src;
  })();
</script>
