<div class="border-form-div">
  <h2>注册</h2>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors resource %>
    <%= f.input :name, :autofocus => true %>
    <% if @user.password_required? %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
    <% end -%>
    <%= f.input :email %>
    <%= f.input :phone, hint: '邮箱和电话至少要填写一项' %>
    <%= f.input :is_trader,as: :boolean %>
    <div id="sign_up_trader">
      <%= f.fields_for :trader do |ft| %>
        <%= render "trader/traders/fields_for",f: ft, trader: resource.trader %>
      <% end -%>
    </div>
    <%= f.button :submit, '注册', :class => 'btn-primary' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
<script>
  $('#user_is_trader').click(function(){
    show_trader_form();
  })
show_trader_form();
</script>
