<%= simple_form_for(@node) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :section, collection: Section.all, include_blank: false %>
    <%= f.input :sort %>
    <%= f.input :name %>
    <%= f.input :summary, as: :kindeditor, owner_id: current_user._id, allowFileManager: false, link: false, input_html: {simple_mode: true} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
