<%= link_to "新建", new_node_path, class: 'btn btn-primary' %>
<% @nodes.group_by(&:section).each do |section,nodes| %>
  <div class="">
    <h3><%= section.name %></h3>
    <% nodes.each do |node| %>
      <div class="">
        <%= link_to node.name, node %>,
        <%= link_to '修改', edit_node_path(node) %>
        <%= link_to '删除', node, method: :delete, data: { confirm: '确定？' } %>

      </div>
    <% end -%>

  </div>
<% end -%>

<%= link_to "新建", new_node_path, class: 'btn btn-primary' %>
