<div class="panel panel-default"id="node_<%= @node.id %>">
  <div class="panel-heading">
    <h1 class="panel-title topic-title">
      <%= title @node.name %>
    </h1>
    <div class="meta">
      <%= @node.summary.html_safe %>
    </div>
  </div>
  <div class="panel-body p0 topics">
    <% if @topics.any? %>
      <%= render @topics %>
    <% else %>
      <p> 暂无帖子，还不赶快抢沙发？ </p>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= render "nodes/new_and_page", params: {pages: @topics, node: @node} %>
  </div>
</div>
