<div id="article_head" class="text-center">
  <h1><%= @article.title %></h1>
  <p><small>发布于: <%= @article.published_at %></small></p>
</div>

<div id="article_content" class="well">
  <%= @article.content.html_safe %>
</div>

<%= render "application/share_in_dl" %>

<div class="clearfix"></div>

<%= render "comments/all_in_dl", parent: @article %>
