<%= link_to t('title') + "商家版", root_url(subdomain: ENV['TRADER_SUBDOMAIN']), :class => 'brand' %>
<div class="nav-collapse collapse">
  <ul class="nav pull-right">
    <% if user_signed_in? %>
      <li>
        <%= link_to current_user,edit_user_registration_url(subdomain: ENV['SUBDOMAIN']) %>
      </li>
      <li>
        <%= link_to '退出', destroy_user_session_url(subdomain: ENV['SUBDOMAIN']), :method=>'delete' %>
      </li>
    <% else %>
      <li>
        <%= link_to '登录', new_user_session_url(subdomain: ENV['SUBDOMAIN']) %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
        <li>
          <%= link_to 'Admin', users_url(subdomain: ENV['ADMIN_SUBDOMAIN']) %>
        </li>
      <% end if nil %>
    <% else %>
      <li>
        <%= link_to '注册', new_user_registration_url(subdomain: ENV['SUBDOMAIN']) %>
      </li>
    <% end %>
  </ul>

  <ul class="nav">
    <li>
      <%= link_to '自家摊位', trader_url(current_trader,subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '联系方式', system_contact_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '切换到客户版', root_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
  </ul>
</div>
