<%= link_to t('trader_title'), trader_home_path, :class => 'navbar-brand' %>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to '柳州夜市', root_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <% if current_user.try(:trader).try(:name) %>
      <li>
        <%= link_to '自家摊位', trader_url(current_trader,subdomain: ENV['SUBDOMAIN']) %>
      </li>
    <% end %>
    <li>
      <%= link_to '应用下载', download_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <%= render_cell :layouts, :login, user: current_user %>
  </ul>
</div>
