<h1 id="title">
  <%= title "商品分类列表 第#{params[:page] || 1}页" %>
</h1>

<% @groups.each do |group| %>
  <% if group.commodities.any? %>
    <div class="commodities">
      <div class="title">
        <h3><%= link_to group.name, group %></h3>
      </div>
      <ul class="thumbs inline">
        <% group.commodities.limit(13).each do |commodity| %>
          <li class="pull-left">
            <%= link_to commodity do %>
              <%= image_tag commodity.picture.image.thumb %>
            <% end -%>
          </li>
        <% end -%>
        <% if group.commodities.count > 13 %>
          <li class="pull-left">
            <%= link_to group do %>
              <%= image_tag 'view_more.jpg' %>
            <% end -%>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
    </div>  
  <% end -%>
<% end -%>

<div class="clearfix"></div>
<div class="pull-right">
  <%= paginate @groups %>
</div>
<div class="clearfix"></div>
