<% @commodities = @group.commodities.page(params[:page]) %>
<h1 id="title">
  <%= title @group.name %>
</h1>
<%= content_tag :dl,class: 'dl-horizontal' do %>
  <dt>商品</dt>
  <dd>
  <ul class="groups_ul inline">
    <% @commodities.each do |commodity| %>
      <li>
        <%= link_to commodity, target: '_blank' do %>
          <%= image_tag commodity.picture.image.thumb %>
        <% end -%>
      </li>
    <% end -%>
  </ul>
  <div class="clearfix"></div>
  </dd>
  <% @comments = @group.comments.recent.page(params[:comment_page]) %>
  <dt>我也来说两句</dt>
  <dd><%= render "comments/form", parent: @group, comment: @group.comments.new, any_comments: @comments.any? %></dd>
  <dt>评论</dt>
  <dd>
    <%= render 'comments/comments', comments: @comments %>
  </dd>

<% end -%>
<div class="clearfix"></div>
<div class="pull-right">
  <%= paginate @commodities %>
</div>
<div class="clearfix"></div>
