<p id="notice"><%= notice %></p>

<div>
  <% @group.commodities.each do |commodity| %>
    <%= link_to commodity do %>
      <%= image_tag commodity.picture.image.thumb %>
    <% end -%>
  <% end -%>
</div>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
