<% @commodities = @group.commodities.page(params[:page]) %>
<h1><%= title @group.name %></h1>
<%= content_tag :dl,class: 'dl-horizontal' do %>
  <dt>商品</dt>
  <dd>
  <ul class="groups_ul inline">
    <% @commodities.each do |commodity| %>
      <li>
        <%= link_to commodity do %>
          <%= image_tag commodity.picture.image.thumb %>
        <% end -%>
      </li>
    <% end -%>
  </ul>
  <div class="clearfix"></div>
  </dd>
<% end -%>
<div class="clearfix"></div>
<div class="pull-right">
  <%= paginate @commodities %>
</div>
<div class="clearfix"></div>
