<div class="row">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      <% @groups.each do |group| %>
        <li><a href="#<%= group.id %>"><i class="icon-chevron-right"></i> <%= group.name %></a></li>
      <% end -%>
    </ul>
  </div>
  <div class="span9">
    <% @groups.each do |group| %>
      <section id="<%= group.id %>">
        <div class="page-header">
          <h1><%= link_to group.name, group %></h1>
        </div>
        <div class="">
          <ul class="thumbs inline">
            <% group.commodities.limit(23).each do |commodity| %>
              <li class="pull-left">
                <%= link_to commodity do %>
                  <%= image_tag commodity.picture.image.thumb %>
                <% end -%>
              </li>
            <% end -%>
            <% if group.commodities.count > 23 %>
              <li class="pull-left">
                <%= link_to group do %>
                  <%= image_tag 'view_more.jpg' %>
                <% end -%>
              </li>
            <% end %>
          </ul>
          <div class="clearfix"></div>
        </div>  
      </section>
    <% end -%>
  </div>
</div>
