<h1>商品分组列表</h1>

<table class="table">
  <tr>
    <th>商品分组名称</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group, group %></td>
    <td><%= link_to '添加商品', new_group_commodity_path(group) %></td>
    <td><%= link_to '修改', edit_group_path(group) %></td>
    <td><%= link_to '删除', group, method: :delete, data: { confirm: '你确定?' } %></td>
  </tr>
<% end %>
</table>

<div class="clearfix"></div>
<div class="pull-right">
  <%= paginate @groups %>
</div>
<div class="clearfix"></div>

<%= link_to '新建商品分组', new_group_path %>
