<h1>短信息</h1>
<% if @chat_messages.any? %>
  <table class="table">
    <tr>
      <th>来自</th>
      <th>内容</th>
      <th>谈论</th>
      <th>操作</th>
    </tr>
    <% @chat_messages.each do |cm| %>
      <tr class="<%= "info" unless cm.is_read? %>">
        <td>
          <%= cm.user %>
        </td>
        <td>
          <%= link_to cm.content, cm %>
        </td>
        <td>
          <%= link_to cm.chatable, cm.chatable if cm.chatable %>
        </td>
        <td>
          <%= link_to '回复', new_chat_message_path(chat_message: {name: cm.user.name}) %>
          <%= link_to '删除', @chat_message, method: :delete, data: { confirm: '你确定?' } unless cm.is_delete? %>
        </td>
      </tr>
    <% end -%>
  </table>
<% else %>
  <p> 暂时没收到短信息 </p>
<% end -%>
<div class="clearfix"></div>
<div class="pull-right">
  <%= paginate @chat_messages %>
</div>
<%= link_to '写短信息', new_chat_message_path %>
