<div class="border-form-div">
  <h2>登录</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.text_field :login, :autofocus => true, :placeholder => '邮箱/手机号码/用户名' %>
    <%= f.password_field :password, :placeholder => '密码' %>
    <% if devise_mapping.rememberable? -%>
      <label class="checkbox"> <%= f.check_box :remember_me %> 记住我 </label>
    <% end -%>
    <%= f.button "登录",:class=>'btn btn-primary' %>
  <% end %>
  <%= render "devise/shared/links" %>
  <div>
    您也可以使用第三方平台账号登陆：
    <span id="login"></span>
  </div> 
  <script type="text/javascript" id="bd_soc_login_boot"></script>
  <script type="text/javascript">
  (function(){
      var t = new Date().getTime(),
          script = document.getElementById("bd_soc_login_boot"),
          redirect_uri = encodeURIComponent("http://user.dev.liuzhouyeshi.com/users/auth/baidu/callback"),
          domid = "login",
          src = "http://openapi.baidu.com/social/oauth/2.0/connect/login?redirect_uri=" + redirect_uri + "&domid=" + domid + "&client_type=web&response_type=code&media_types=sinaweibo%2Cqqdenglu%2Cbaidu%2Cqqweibo%2Ckaixin&size=-1&button_type=3&client_id=EYlg2YCjG71PgrfKwuxf5kMS&view=embedded&t=" + t;
      script.src = src;
  })();
  </script>
</div>
