<%= link_to t('user_title'), user_home_path, :class => 'navbar-brand' %>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to '柳州夜市', root_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '联系方式', system_contact_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '应用下载', download_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <%= render_cell :layouts, :login, user: current_user %>
  </ul>
</div>
