<div class="pinItem" id="1" style="left: 237px; top: 0px; display: block;">
  <div class="t"></div>
  <div class="pinInfo">
    <div class="pinImg">
      <%#<a onclick="return openBoard(155174);" target="_blank" href="/show_155174.html">%>
        <%= link_to post, title: "柳州夜市秀-#{post.id}" do %>
          <%= image_tag post.picture.image.pin, alt: "柳州夜市秀-#{post.id}图片", title: "柳州夜市秀-#{post.id}图片" %>
        <% end -%>
        <div class="pinBtn" style="display: none;">
          <span> 
            <a href="javascript:;" onclick="return false;like('<%= post.id %>');" class="btn01 like_btn_<%= post.id %> "><i>喜欢</i></a>
            <%#<a href="javascript:;" onclick="want_food(151169,155174);" class="btn01 want_btn_151169 "><i class="i1">收集</i></a>%>
          </span>
          <div class="btn01">
            <i class="i2">分享</i>
            <ul class="fx-list unstyled">
              <li><a href="" onclick="share_food('<%= post.id %>','<%= post.content.block %>','<%= ENV['DOMAIN'] %><%= post.picture.image.url %>','wb','');return false;"><i class="ico-wb"></i>新浪微博</a></li>
              <li><a href="" onclick="share_food('<%= post.id %>','<%= post.content.block %>','<%= ENV['DOMAIN'] %><%= post.picture.image.url %>','qq','');return false;"><i class="ico-qq"></i>腾讯微博</a></li>
              <li><a href="" onclick="share_food('<%= post.id %>','<%= post.content.block %>','<%= ENV['DOMAIN'] %><%= post.picture.image.url %>','rr','<%= post.content %>');return false;"><i class="ico-rr"></i>人人网</a></li>
              <li><a href="" onclick="share_food('<%= post.id %>','<%= post.content.block %>','<%= ENV['DOMAIN'] %><%= post.picture.image.url %>','db','');return false;"><i class="ico-db"></i>豆瓣</a></li>
            </ul>
          </div>
        </div>
      </div> 
      <%#<h5><a onclick="return openBoard(155174);" target="_blank" href="/show_155174.html">罐焖牛肉</a></h5>%>
      <%#<div class="nn">%>
        <%#<a href="/restaurant_3135.html" target="_blank">起士林西餐厅</a>%>
        <%#</div>%>
      <p><%= post.content %></p>
      <div class="conts">
        <span id="like_num_span_<%= post.id %>">0</span> 喜欢
      </div>
    </div>
    <div class="pinTxt"> 
      <div class="icon"></div> 
      <div class="pt">
        <div>
          <%#<a href="http://www.meishimeike.com/home_70.html" target="_blank"><img class="photo_30" src="http://img.meishimeike.com/upload/face/0/0/70/f1340807448_30.jpg" alt="青涩"></a>%>
          <%= link_to '#', title: post.user do %>
            <%= image_tag "noface_icon.gif", alt: post.user, title: post.user %>
          <% end -%>
        </div>
        <div class="txt">
          <p class="p1"><b><%= link_to post.user, '#', title: post.user %>:</b>
            通过网站分享
            <br>   <%= Time.cc_time post.created_at %></p>
        </div>
      </div>
      <!--
      <div id="comment_new_container_155174"></div>
      <div class="line"></div>

      <a  rel='nofollow' href="/show_155174.html" class="more" target="_blank">全部</a> 
      -->
    </div>
    <div class="b"></div>
  </div>

