<ul class="sw-layout-mod sw-mod-offerShopwindow4">
  <% commodities.each do |commodity| %>
    <li class="sw-mod-offerShopwindow paGetId">
      <div class="photo-text-200">
        <%= link_to commodity, class: 'photo200-box' do %>
          <%= image_tag commodity.picture.image.list.url %>
        <% end -%>
        <p>￥<%= commodity.price %> </p>
      </div>
      <div class="sw-mod-offerShopwindow-title">
        <h2>
          <%= link_to commodity.name, commodity, class: 'sm-offerShopwindow-titleLink sw-ui-font-title12', target: '_blank' %>
        </h2>
      </div>
      <div class="commodity-trader">
        <%= link_to commodity.trader, commodity.trader, class: 'sw-mod-previewCompanyInfo', target: '_blank' %>
      </div>
    </li>
  <% end %>
</ul>

<div class="clearfix"></div>
<div class="pull-right">
  <%= paginate commodities %>
</div>
<div class="clearfix"></div>
