<ul class="sw-layout-mod sw-mod-offerShopwindow4">
  <% commodities.each do |commodity| %>
    <li class="sw-mod-offerShopwindow paGetId commodities-commodity">
      <div class="photo-text-200">
        <%= link_to commodity, class: 'photo200-box', target: '_blank', title: commodity do %>
          <%= image_tag commodity.picture.image.list.url, alt: commodity, title: commodity %>
        <% end -%>
        <p>￥<%= commodity.price %> </p>
      </div>
      <div class="sw-mod-offerShopwindow-title">
        <h3>
          <%= link_to commodity.name, commodity, class: 'sm-offerShopwindow-titleLink sw-ui-font-title12', target: '_blank', title: commodity %>
        </h3>
      </div>
      <div class="commodity-trader">
        <%= link_to commodity.trader, commodity.trader, class: 'sw-mod-previewCompanyInfo', target: '_blank', trader_id: commodity.trader.id, title: commodity.trader %>
      </div>
    </li>
  <% end %>
</ul>

<div class="clearfix"></div>
<div class="pull-right">
  <%= paginate commodities %>
</div>
<div class="clearfix"></div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.sw-mod-previewCompanyInfo').hover(
      function(){
        get_trader($(this));
      },
      function(e){
        remove_trader_div($(this));
      }
      )
  });
</script>
