<h1><%= title @commodity.name %></h1>
<%= content_tag :dl,class: 'dl-horizontal' do %>
  <dt>所属商品分组</dt>
  <dd><%= link_to @commodity.group, @commodity.group %></dd>
  <%= d @commodity,:price %>
  <%= d @commodity,:reserve %>
  <%= d @commodity,:text %>
  <dt>大图</dt>
  <dd>
  <%= image_tag @commodity.picture.image.url,class: 'commodity_image', alt: @commodity, title: @commodity %>
  </dd>
  <dt>其他款式</dt>
  <dd>
  <ul class="groups_ul inline">
    <% @commodity.group.commodities.each do |commodity| %>
      <li>
        <%= link_to commodity, title: commodity do %>
          <%= image_tag commodity.picture.image.thumb, class: commodity == @commodity ? 'commodity_select' : 'commodity_unselect', alt: commodity, title: commodity %>
        <% end -%>
      </li>
    <% end -%>
  </ul>
  <div class="clearfix"></div>
  </dd>

  <%= render "application/share_in_dl" %>

  <% @comments = @commodity.comments.recent.page(params[:comment_page]) %>
  <dt>我也来说两句</dt>
  <dd><%= render "comments/form", parent: @commodity, comment: @commodity.comments.new, any_comments: @comments.any? %></dd>
  <dt>评论</dt>
  <dd>
    <div id="div_comments">
      <%= render 'comments/comments', comments: @comments, parent: @commodity %>
    </div>
  </dd>
<% end -%>

<% content_for :sidebar do -%>
  <%= render_cell :sidebars, :trader, commodity: @commodity, trader: @commodity.trader %>
<% end -%>
