<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @apk.name %>
</p>

<p>
  <b>English name:</b>
  <%= @apk.english_name %>
</p>

<p>
  <b>Version:</b>
  <%= @apk.version %>
</p>

<p>
  <b>Update info:</b>
  <%= @apk.update_info %>
</p>


<%= link_to 'Edit', edit_apk_path(@apk) %> |
<%= link_to 'Back', apks_path %>
