</div> <!--! end of .container -->

<footer id="footer" class="footer">
  <%= render_cell :layouts, :footer %>
</footer>
<!--[if lte IE 6]>
<%= javascript_include_tag "ie6png", "bsie/bootstrap-ie" %>
<script type="text/javascript">
  (function ($) {
    $(document).ready(function() {
      if ($.isFunction($.bootstrapIE6)) $.bootstrapIE6($(document));
    });
  })(jQuery);
</script>
<![endif]-->
<!--[if lt IE 9]>
<%= stylesheet_link_tag "ie", :media => "all" %>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<% if current_user %>
  <script>
    $(function() {
      init_faye('<%= ENV['FAYE'] %>','<%= current_user.name %>')
    });
  </script>
<% end -%>
<!-- Baidu Button BEGIN -->
<script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=2&amp;pos=right&amp;uid=6479689" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END -->
  </body>
</html>
