<%= link_to t('title'), root_url(subdomain: ENV['SUBDOMAIN']), class: "navbar-brand" %>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to '最新商品', commodities_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '商品分类', categories_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '商家摊位', traders_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '联系方式', system_contact_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '应用下载', download_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '夜市经验', articles_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '夜市秀', posts_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <%= render_cell :layouts, :login, user: current_user %>
  </ul>
</div>
