<a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>

<%= link_to t('title'), root_url(subdomain: ENV['SUBDOMAIN']), :class => 'brand' %>
<div class="nav-collapse collapse">
  <ul class="nav pull-right">
    <%= render_cell :layouts, :login, user: current_user %>
  </ul>

  <ul class="nav">
    <li>
      <%= link_to '最新商品', commodities_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '商家摊位', traders_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '联系方式', system_contact_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '应用下载', download_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
    <li>
      <%= link_to '夜市秀', posts_url(subdomain: ENV['SUBDOMAIN']) %>
    </li>
  </ul>
</div>
