<%= render "layouts/before" %>
<div class="row">
  <div class="span12">

    <%= render 'layouts/messages' %>
    <div class="breadcrumb">
      <%= render_crumbs separator: ' > ' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <%= yield %>
  </div>

  <div class="span4">
    <%= yield(:sidebar) %>
    <%= render_cell :sidebars, :recent_commodities %>
    <%= render_cell :sidebars, :recent_comments %>
    <%= render_cell :sidebars, :listen %>
  </div>
</div>
<%= render "layouts/after" %>
