<%= render "layouts/before" %>
<div class="row">
  <div class="span12">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <%= render_cell :layouts, :user_nav, controller_name: controller_name, action_name: action_name %>
      </ul>
      <div class="tab-content">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/after" %>
